@CHARSET "UTF-8";
h1{
	font-weight: bold;
	margin-left:70px;
}
body{
	background-image:url('./img/timg.jpg');
	background-repeat:no-repeat;
	background-size:cover; 
}
ol{
	width:120px;
	height:200px;
	background-color:white;
	margin-left:70px;
	margin-bottom:30px;
	margin-top:0px;
	overflow: scroll;
}
  .text{
     background-color:white;
     width:145px;
     height:35px;
     margin-left:10px;
     opacity:1;
  }
   .text1{
     background-color:white;
     width:250px;
     height:35px;
     margin-left:28px;
   }
      
  .text2 {
     background-color:white;
     width:250px;
     height:35px;
     margin-left:6px;
  }
  .button{
    height: 40px;	
	width: 100px;		
	background: yellow;
	margin-top:30px;
	margin-left:285px;
  }
 .button1{
    height: 40px;	
	width: 100px;		
	background: yellow;
	margin-left:10px;
  }
 .button2{
    height: 25px;	
	width: 90px;		
	background: #AFEEEE;
  }
   .kuang{
    height:540px;	
	width: 400px;
 	margin-top:30px; 
 	margin-left:180px; 
	background-color:rgba(255,255,255,0.3);
	float:left;	
    border-width:0.1px;
    border-style:hide;
    border-color: #AFEEEE;
    padding:30px;
  }
  .lastOne{
    font-weight: bold;  
    float:left;
    padding-left:100px;
    padding-top:360px;
    font-size:25px;
 }
  .menu {
    background:white;
    width:100px;
    height:150px;
    display:none;
    margin-right:70px;  
 }

